body{
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-container{
    background-color: #ffffff;
    max-width: 800px;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 7px 6px rgba(125, 0, 0, 0.5);
}
#tituloreceta{
    background-color: #634a81;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    
}